{% extends "base.html" %}

{% block title_content %}
Contrato de venta
{% endblock %}

{% block content %}
  <div class="row">
    {% if user.is_superuser %}
    <div class="col-md-4 shadow-sm p-3 mb-5 mr-3 bg-white rounded">
      <h3>Nuevo contrato</h3>
      <hr>

      {{ form.as_p }}

      <button id="btn-vender" class="btn btn-success"
              data-url="{% url 'pagos:realizar_venta' %}">Realizar venta</button>
      <span class="badge badge-warning" id="monto-venta"></span>
    </div>
    {% endif %}

    <div class="col-md-7 shadow-sm p-3 mb-5 mr-3 bg-white rounded">
      <h3>Lista de contratos <span class="badge badge-info">{{ contratos.count }} contrato{{ contratos.count|pluralize }}</span></h3>
      <hr>

      <div class="row">
        <div class="col-md-6">
          <select class="form-control" id="cbo-tipo-contrato">
            <option value="todos" {% if tipo == 'todos' %}selected{% endif %}>Todos</option>
            <option value="credito" {% if tipo == 'credito' %}selected{% endif %}>Crédito</option>
            <option value="contado" {% if tipo == 'contado' %}selected{% endif %}>Contado</option>
            <option value="pagado" {% if tipo == 'pagado' %}selected{% endif %}>Pagado</option>
          </select>
        </div>
        <div class="col-md-6">
          <form action="">
            <input type="search" name="q" class="form-control" placeholder="Buscar cliente" {% if q %}value="{{ q }}"{% endif %}>
          </form>
        </div>
      </div>

      <hr>

      <table class="table table-sm table-bordered table-font-small">
        <thead class="thead-dark">
          <tr>
            <th>Contrato #</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Lotes</th>
            <th class="text-center">Plan</th>
          </tr>
        </thead>
        <tbody>
          {% for contrato in contratos %}
            <tr>
              <td>Contrato #{{ contrato.id }}</td>
              <td>{{ contrato.cliente }}</td>
              <td>{{ contrato.fecha_adquisicion|date:"d/m/Y" }}</td>
              <td>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="{% for lote in contrato.lotes.all %}Lote #{{ lote.numero }} {% endfor %}">
                  {{ contrato.lotes.count }} lote{{ contrato.lotes.count|pluralize }}
                </a>
              </td>
              <td class="text-center">
                {% if contrato.tipo_venta == 'credito' %}
                <a href="{% url 'pagos:detalle_plan_pagos' contrato.id %}">Ver</a>
                {% else %}
                <a href="{% url 'pagos:info_contrato_contado' contrato.id %}">Ver</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
