{% extends "base.html" %}

{% block title_content %}
Pagos registrados por mes
{% endblock %}

{% load humanize %}

{% block content %}

<div class="row">
  <div class="col-md-3">
    <select id="cbo-pagos-mes" class="form-control">
      <option value="">Seleccione el mes</option>
      <option {% if mes == 1 %}selected{% endif %} value="1">Enero</option>
      <option {% if mes == 2 %}selected{% endif %} value="2">Febrero</option>
      <option {% if mes == 3 %}selected{% endif %} value="3">Marzo</option>
      <option {% if mes == 4 %}selected{% endif %} value="4">Abril</option>
      <option {% if mes == 5 %}selected{% endif %} value="5">Mayo</option>
      <option {% if mes == 6 %}selected{% endif %} value="6">Junio</option>
      <option {% if mes == 7 %}selected{% endif %} value="7">Julio</option>
      <option {% if mes == 8 %}selected{% endif %} value="8">Agosto</option>
      <option {% if mes == 9 %}selected{% endif %} value="9">Septiembre</option>
      <option {% if mes == 10 %}selected{% endif %} value="10">Octubre</option>
      <option {% if mes == 11 %}selected{% endif %} value="11">Noviembre</option>
      <option {% if mes == 12 %}selected{% endif %} value="12">Diciembre</option>
    </select>
  </div>
  <div class="col-md-3">
    <select id="cbo-pagos-anio" class="form-control">
      {% for anio in anios %}
      <option {% if anio.year == aniovar %}selected{% endif %} value="{{ anio.year }}">{{ anio.year }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-md-3">
    <button class="btn btn-dark" id="btn-filtrar-pagos" data-url="{% url 'pagos:pagos_del_mes' %}">
      Filtrar <i class="fas fa-fw fa-search"></i>
    </button>
  </div>
  <div class="col-md-3 text-right">
    <h3><span class="badge badge-success">L{{ total_mes|floatformat:2|intcomma }}</span></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mt-3">
    <span class="badge badge-pill badge-info">
      Hay {{ pagos_mes.count }} pago{{ pagos_mes.count|pluralize }} registrado{{ pagos_mes.count|pluralize }} este mes
    </span>

    <br><br>
    <table class="table table-sm table-bordered table-hover table-font-small">
      <thead class="thead-dark">
        <tr>
          <th>Cliente</th>
          <th>Contrato</th>
          <th class="text-center">Tipo de pago</th>
          <th class="text-right">Valor</th>
        </tr>
      </thead>

      <tbody>
        {% for abono in abonos_mes %}
        <tr>
          <td>{{ abono.contrato.cliente }}</td>
          <td><a href="{% url 'pagos:detalle_plan_pagos' abono.contrato.id %}">Contrato #{{ abono.contrato.id }}</a></td>
          <td class="text-center">Abono a capital</td>
          <td class="text-right text-info"><strong>L{{ abono.abono|floatformat:2|intcomma }}</strong></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">No hay abonos registrados</td>
        </tr>
        {% endfor %}


        {% for prima in primas_mes %}
        <tr>
          <td>{{ prima.cliente }}</td>
          <td><a href="{% url 'pagos:detalle_plan_pagos' prima.id %}">Contrato #{{ prima.id }}</a></td>
          <td class="text-center">Pago de prima</td>
          <td class="text-right text-success"><strong>L{{ prima.prima|floatformat:2|intcomma }}</strong></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">No hay primas pagadas en este mes</td>
        </tr>
        {% endfor %}


        {% for pago in pagos_mes %}
        <tr>
          <td>{{ pago.plan_pagos.contrato.cliente }}</td>
          <td><a href="{% url 'pagos:detalle_plan_pagos' pago.plan_pagos.contrato.id %}">Contrato #{{ pago.plan_pagos.contrato.id }}</a></td>
          <td class="text-center">Pago de cuota #{{ pago.numero_cuota }}</td>
          <td class="text-right text-primary">L{{ pago.plan_pagos.cuota|floatformat:2|intcomma }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">No hay pagos registrados en esta fecha</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}








